@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Raleway:wght@300&display=swap');



.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
} 

.Wrapper {
  width: 600px;
  background-color : white;
  border-radius: 3px;
  padding: 30px;
}

.Quote {
  margin-top: 20px;
  margin-left: 10px;
  font-size: 1.30em;
  font-weight: 900;
}

.QuoteButton {
  border: none;
  border-radius: 3px;
  color: white;
  margin-right: 20px;
  height: 39px;
  padding-left: 15px;
  padding-right: 15px;
  width:auto;
  font-weight:500; 
  cursor: pointer;
} 

.TweetButton {
  height: 44px;
  padding: 0px;
  margin-top: -2.5px;
  margin-left: 20px;
}


.Author {
  margin-top: 20px;
  margin-right: 20px;;
  text-align: right;
  font-size: 0.70em;
  font-weight: 600;
}

.Footer {

  width: 600px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.Atag {
  height: 40px;

}